version: 2

# https://circleci.com/blog/how-to-build-a-docker-image-on-circleci-2-0/
jobs:
  build:
    working_directory: /app
    docker:
      - image: docker:19.03
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/ansible-lint.tar | true
      - run:
          name: Build ansible-lint Docker image
          command: |
            docker build --cache-from=ansible-lint -t yokogawa/ansible-lint ./
      - run:
          name: Run ansible-lint (test)
          command: |
            bash ./script.sh
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/ansible-lint.tar yokogawa/ansible-lint
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /caches/ansible-lint.tar

workflows:
  version: 2
  commit-workflow:
    jobs:
      - build
